* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #4a6385;
    font-size: 14px;
}

a {
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-top: 1px solid #2c7de8;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 87px;
    align-items: center;
}


.menu__list {
    display: flex;
}

.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans';
}

.menu__btn {
    width: 40px;
    display: none;
}

.menu__btn div{
    height: 5px;
    background-color: #000;
    margin-bottom: 5px;
}

.top {
    background-color: #2c7de8;
    padding-top: 150px;
    padding-bottom: 180px;
}

.top__inner {
    display: flex;
}

.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #fff;
}

.top-info__title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
}
.top-info__description {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}
.top-info__description span {
    line-height: 24px;
    font-size: 14px;
    display: block;
    font-weight: 400;
}
.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li::before {
    content: "";
    background-image: url(../images/list-icon.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    padding: 14px 44px;
    border: 3px solid #fff;
    border-radius: 50px;
    margin-bottom: 15px;
}


.top-image__box {
    position: relative;
}

.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    position: absolute;
    top: -28px;
    right: -60px;
}

.top-images__title {
    margin-bottom: 20px;
    text-align: left;
    width: 140px;
}

.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top-images__month {
    text-align: right;
    width: 140px;
}

.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #2f3f54;
}
.title span {
    color: #2575e7;
}
.price__descr {
    max-width: 595px;
    margin: 35px auto 125px;
    text-align: center;
}
.price__descr a {
    color: #ea6456;
}
.price__descr span{
    color: #8ee6da;
}
.price__items {
    display: flex;
    justify-content: space-between;
}
.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.price-item__top {
    width: 265px;
    height: 465px;
    border-radius: 136px;
    color: #fff;
    background-color: #267ae9;
    position: absolute;
    top: -370px;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.price-item__top span {
    font-size: 16px;
}
.price-item__image {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}
.price-item__title {
    margin-bottom: 25px;
    color: #267ae9;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
.price-item__text {
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.price-item__list {
    margin-bottom: 75px;
    list-style: none;
}
.price-item__list li {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    padding-left: 36px;
    margin-bottom: 12px;
    position: relative;
}
.price-item__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform:  translateY(-50%);
    background-image: url(../images/done-icon.png); 
    width: 15px;
    height: 11px;
}

.price-item__btn {
    font-size: 17px;
    font-weight: 700;
    background-color: #267ae9;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.reviews {
    background-color: #fafafa;
    padding: 114px 0 120px;
}

.reviews-slider {
    margin-top: 160px;
}

.reviews-slider__item {
}

.reviews-slider .slick-list {
    margin: 0 -50px;
}

.reviews-slider .slick-slide {
    margin: 0 50px;
    padding-bottom: 70px;
}

.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.reviews-slider .slick-dots li {
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 2px solid #2575e7;
}

.reviews-slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #2575e7;
    outline: none;
}

.reviews-box__images {
    background-color: #2575e7;
    width: 190px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-box__images img {
    border-radius: 50%;
}

.reviews-box__content {
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-box__text {
    margin-bottom: 30px;
}

.reviews-box__author span {
    color: #2575e7;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.partner__logo {
    margin-left: 20px;
}


.footer {
    background-color: #304054;
    padding: 80px 0 125px;
    color: #718db2;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer-col__logo {
    width: 260px;
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 8px;
}

.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255, 0.05);
}

.footer__title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #d0e4ff;
    margin-bottom: 30px;
}

.footer__menu {
    width: 263px;
}

.footer__list {
    list-style: none;
}

.footer__list a {
    color: #718db2;
    font-size: 13px;
    margin-bottom: 8px;
}

.footer__form {
    width: 263px;
}

.footer__form input,
.footer__form textarea {
    border: 1px solid rgba(255,255,255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 12px;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #718db2;
}

.footer__form input::placeholder,
.footer__form textarea::placeholder {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #718db2;
}

.footer__form textarea {
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 11px;
}

.footer__btn {
    background-color: #2575e7;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    cursor: pointer;
}

/* Адаптив */

@media (max-width: 1265px){
    .reviews-slider .slick-list {
        margin: 0;
    }
    .reviews-slider .slick-slide {
        margin: 0;
    }
    .reviews-box {
        box-shadow: none;
    }
}

@media (max-width: 1160px) {
    .price__items {
        flex-wrap: wrap;
    }
    .price-item {
        max-width: 40%;
        margin-bottom: 50px; 
    }
    .price-item__top {
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@media (max-width: 1105px){
    .reviews-slider {
        margin-top: 60px;
    }
    .reviews-box {
        margin: 0 auto;
        max-width: 520px;
    }
    .partners__inner {
        flex-wrap: wrap;
        justify-content: start;
        padding: 50px 60px;
    }
}

@media (max-width: 1065px){
    .top-info {
        max-width: 465px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-col__logo {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px){
    .menu__list {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
        z-index: 10;
    }
    .menu__list li {
        margin-left: 0;
    }
    .menu__list a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
        background-color: #fff;
        
    }
    .menu__btn {
        display: block;
    }
}

@media (max-width: 940px){
    .top-info {
        max-width: 325px;
    }
}

@media (max-width: 855px){
    .top-image__box img {
        width: 300px;
    }
    .top-images__circle {
        width: 160px;
        height: 160px;
        top: -30px;
        right: -30px; 
    }
}

@media (max-width: 740px){
    .top__inner {
        flex-wrap: wrap;
        justify-content: center;

    }
    .top-info {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 75px;
    }
    .top,
    .reviews,
    .price {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .price-item {
        min-width: 100%;
    }
    .price {
        padding: 50px 0 80px;
    }
    .footer__form {
        width: 100%;
        margin-top: 30px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
    .footer__form {
        margin-top: 0;
    }
    .partners__inner {
        padding: 50px 20px;
}

@media (max-width: 580px){
    .reviews-box {
        display: block;
    }
    .reviews-box__images {
        width: 100%;
        min-height: 200px;
    }
    .reviews-box__content {
        width: 100%;
        padding: 20px;
        min-height: 260px;
    }
    .reviews-slider .slick-slide {
        padding-bottom: 20px;
    }
}

@media (max-width: 399px){
    .top-info__title {
        font-size: 40px;
        line-height: 42px;
    }
    .top-images__circle {
        top: -5px;
        right: 10px;
    }
    .title {
        font-size: 36px;
        line-height: 40px;
    }
    .price__descr {
        margin: 35px auto 50px;
    }
    .price-item {
        padding: 0 20px 50px;
    }
    .footer__menu {
        margin-bottom: 30px;
        width: 100%;
    }
}











@media (min-width: 992px) {
    .menu__list {
        display: flex !important;
    }
}





  
